h1{
  color: #B976CC;
  font-family: Verdana;
  text-align: center;
}
h2{
  color: #76B4CC;
  font-family: Verdana;
  text-align: center;
}
body{
 background: #A1D490;
}
.description{
  width: 400px;
}
img:hover{
  opacity: 0.5;
}
section{
  display: inline-block;
  width: 600px;
}
